@use 'consts' as c;
@import 'consts';

.idCol {
    width: 100px;
    height: 25px;
    border: c.$border;
    font-size: c.$font-size;
}

.btnsCol {
    width: 83px;
}

.engCol,
.ruCol,
.transcriptCol {
    width: 150px;
    height: 25px;
    border-top: c.$border;
    border-bottom: c.$border;
    border-right: c.$border;
    font-size: c.$font-size;
}

.TableRow {
    display: flex;
    width: 100%;
}

.parentForInputs {
    margin-left: 96px;
}

.engInput:focus-within,
.ruInput:focus-within,
.transcriptInput:focus-within {
    background-color: rgba(52, 182, 0, 0.479);
    }

.engInput,
.ruInput,
.transcriptInput,
.disabled {
    width: 139.5px;
    border: 0px;
    border-bottom: c.$border;
    margin: 5px;
}

.disabled {
    border-bottom: 1px solid red;
}

.disabled:focus-within {
    background-color: c.$deleteBtnMain;
}

.editBtn,
.deleteBtn,
.saveBtn,
.cancelBtn,
.disabledBtn {
    border: 0px;
    border-radius: 5px;
    margin: 2px;
    padding: 4px 8px;
    color: rgb(51, 16, 16);
    font-size: c.$font-size;
    width: 30px;
}

.editBtn {
    background-color: c.$editBtnMain;
}

.editBtn:hover {
    box-shadow: c.$editBtnHover;
}

.deleteBtn {
    background-color: c.$deleteBtnMain;
}

.deleteBtn:hover {
    box-shadow: c.$deleteBtnHover;
}

.saveBtn {
    background-color: c.$saveBtnMain;
}

.saveBtn:hover {
    box-shadow: c.$saveBtnHover;
}

.disabledBtn {
    background-color: rgb(134, 134, 134);
}

.disabledBtn:hover {
    box-shadow: 0px 0px 3px 3px rgba(134, 134, 134, 0.541);
}

.cancelBtn {
    background-color: c.$cancelBtnMain;
}

.cancelBtn:hover {
    box-shadow: c.$cancelBtnHover;
}